<div class="chart-container col-4 p-0">
    <canvas id="speedChart" height="25px" width="50px"></canvas>
</div>
<div class="chart-container col-4 p-0">
    <canvas id="energySpentChart" height="25px" width="50px"></canvas>
</div>
<div class="chart-container col-4 p-0">
    <canvas id="energyChart" height="25px" width="50px"></canvas>
</div>
