<div class="row col-12" id="names">
    <div class="col-2">Time</div>
    <div class="col-2">Energy</div>
    <div class="col-2">ODO</div>
    <div class="col-2">Speed</div>
    <div class="col-2">SOC</div>
</div>
<div id="log" class="col-12 text-left">
    
</div>