<a href="/" class="row">
    Home
</a>
<a href="/error" class="row" id="errorLink">
    <span class="badge badge-danger" id="errorCounter">
        {{errorCount}}
    </span>
    Errors
</a>
<a href="/log" class="row">
    Log
</a>